.post{
  border: 1px solid blue;
  min-width: 100%;
  margin-bottom: 2em;
  padding:1em;
  display: flex;
  align-items:center;
  flex-direction: column;
  box-sizing: border-box;
}
.commentToggle{
  text-decoration: underline;
}
.commentToggle:hover{
  cursor: pointer;
  color: green
}